<h1>You have been clocked out at: <%=@clock.clock_out %></h1>
<h2>You have worked <%=distance_of_time_in_words(@clock.work_time) %> in your last period</h2>

<p>
  <%= link_to "Worktime report", "/emps/"+@clock.emp_id.to_s() %><br>
  <%= link_to "Home", "/" %>
</p>