<h1>Please enter your employee ID</h1>
<p>
<div>
    <form method="get" id="emp_id_input">
        <input type="text" name="emp_id" id="emp_id_txt"  placeholder="Employee ID"/>
    </form>
</div>
</p>
<p>
<%= link_to "New Employee", controller: "emps" %>
</p>