<h1>All Periods</h1>
<p>
  <table border="1" id="tblemployee">
    <tr>
      <th>Clock In</th>
      <th>Clock Out</th>
      <th>Work Time</th>
      <th>Employee ID</th>
    </tr>
    <% @clocks.each do |clock| %>
    <tr>
      <td><%=clock.clock_in %></td>
      <td><%=clock.clock_out %></td>
      <td><%=clock.work_time %></td>
      <td><%=clock.emp_id %></td>
    </tr>
    <% end %>
</p>
